* {
    box-sizing: border-box;
}

:root {
    /* Primary */
    --light-cyan: hsl(193, 38%, 86%);
    --neon-green: hsl(150, 100%, 66%);
    /* Neutral */
    --grayish-blue: hsl(217, 19%, 38%);
    --dark-grayish-blue: hsl(217, 19%, 24%);
    --dark-blue: hsl(218, 23%, 16%);
}

.container {
    width: 100vw;
    height: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    height: 332px;
    width: 540px;
    background: var(--dark-grayish-blue);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    height: 213px;
    width: 444px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 47px;
}

.id p {
    font-size: 14px;
    color: var(--neon-green);
    letter-spacing: 3px;
}

.advice p {
    font-size: 28px;
    color: var(--light-cyan);
}

.dice {
    height: 64px;
    width: 64px;
    border-radius: 50%;
    background-color: var(--neon-green);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 35px;
}

.dice:hover {
    cursor: pointer;
    box-shadow: 0px 0px 40px var(--neon-green);
}

.dice img {
    animation: rotate 5s ease-in-out infinite alternate;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media only screen and (max-width: 375px) {
    .wrapper {
        height: 347px;
        width: 342px;
    }

    .card {
        width: 302px;
        height: 209px;
    }

    .id p {
        font-size: 12px;
        letter-spacing: 3px;
    }

    .advice p {
        font-size: 24px;
        letter-spacing: -0.24px;
    }

    .dice {
        top: 45px;
    }
}