* {
    box-sizing: border-box;
}

:root {
    /* Primary */
    --light-cyan: hsl(193, 38%, 86%);
    --neon-green: hsl(150, 100%, 66%);
    /* Neutral */
    --grayish-blue: hsl(217, 19%, 38%);
    --dark-grayish-blue: hsl(217, 19%, 24%);
    --dark-blue: hsl(218, 23%, 16%);
}

.container {
    width: 100vw;
    height: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    height: 332px;
    width: 540px;
    background: hsl(217, 19%, 24%);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    height: 213px;
    width: 444px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

